{
  "plugins": [
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "issuePrefixes": ["DF-#"],
          "issueUrlFormat": "https://fujira.csin.cz/browse/{{id}}"
        }
      }
    ]
  ]
}
